/* style.css */

/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  padding: 0;
  background-image: url("../static/flat_design_credit_assessment.jpg");
  background-size: auto;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #0066cc;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input[type="number"],
select {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0066cc;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005bb5;
}

/* Result Styles */
.result {
  text-align: center;
  margin-top: 20px;
}

.result h2 {
  margin-top: 10px;
}

  

  
  
  
  
  
  
  