<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Prediction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Credit Prediction</h1>
        <form action="/predict" method="POST" class="mt-3">
            <div class="form-group">
                <label for="Annual_Income">Annual Income</label>
                <input type="number" step="0.01" class="form-control" id="Annual_Income" name="Annual_Income" required>
            </div>
            <div class="form-group">
                <label for="Num_Bank_Accounts">Number of Bank Accounts</label>
                <input type="number" step="0.01" class="form-control" id="Num_Bank_Accounts" name="Num_Bank_Accounts" required>
            </div>
            <div class="form-group">
                <label for="Num_Credit_Card">Number of Credit Cards</label>
                <input type="number" step="0.01" class="form-control" id="Num_Credit_Card" name="Num_Credit_Card" required>
            </div>
            <div class="form-group">
                <label for="Interest_Rate">Interest Rate</label>
                <input type="number" step="0.01" class="form-control" id="Interest_Rate" name="Interest_Rate" required>
            </div>
            <div class="form-group">
                <label for="Num_of_Loan">Number of Loans</label>
                <input type="number" step="0.01" class="form-control" id="Num_of_Loan" name="Num_of_Loan" required>
            </div>
            <div class="form-group">
                <label for="Delay_from_due_date">Delay from Due Date</label>
                <input type="number" step="0.01" class="form-control" id="Delay_from_due_date" name="Delay_from_due_date" required>
            </div>
            <div class="form-group">
                <label for="Num_of_Delayed_Payment">Number of Delayed Payments</label>
                <input type="number" step="0.01" class="form-control" id="Num_of_Delayed_Payment" name="Num_of_Delayed_Payment" required>
            </div>
            <div class="form-group">
                <label for="Changed_Credit_Limit">Changed Credit Limit</label>
                <input type="number" step="0.01" class="form-control" id="Changed_Credit_Limit" name="Changed_Credit_Limit" required>
            </div>
            <div class="form-group">
                <label for="Num_Credit_Inquiries">Number of Credit Inquiries</label>
                <input type="number" step="0.01" class="form-control" id="Num_Credit_Inquiries" name="Num_Credit_Inquiries" required>
            </div>
            <div class="form-group">
                <label for="Credit_Mix">Credit Mix</label>
                <select class="form-control" id="Credit_Mix" name="Credit_Mix" required>
                    <option value="Bad">Bad</option>
                    <option value="Standard">Standard</option>
                    <option value="Good">Good</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Outstanding_Debt">Outstanding Debt</label>
                <input type="number" step="0.01" class="form-control" id="Outstanding_Debt" name="Outstanding_Debt" required>
            </div>
            <div class="form-group">
                <label for="Credit_Utilization_Ratio">Credit Utilization Ratio</label>
                <input type="number" step="0.000000001" class="form-control" id="Credit_Utilization_Ratio" name="Credit_Utilization_Ratio" required>
            </div>
            <div class="form-group">
                <label for="Credit_History_Age">Credit History Age</label>
                <input type="number" step="0.01" class="form-control" id="Credit_History_Age" name="Credit_History_Age" required>
            </div>
            <div class="form-group">
                <label for="Payment_of_Min_Amount">Payment of Minimum Amount</label>
                <select class="form-control" id="Payment_of_Min_Amount" name="Payment_of_Min_Amount" required>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Total_EMI_per_month">Total EMI per Month</label>
                <input type="number" step="0.000000001" class="form-control" id="Total_EMI_per_month" name="Total_EMI_per_month" required>
            </div>
            <div class="form-group">
                <label for="Amount_invested_monthly">Amount Invested Monthly</label>
                <input type="number" step="0.000000001" class="form-control" id="Amount_invested_monthly" name="Amount_invested_monthly" required>
            </div>
            <div class="form-group">
                <label for="Monthly_Balance">Monthly Balance</label>
                <input type="number" step="0.000000001" class="form-control" id="Monthly_Balance" name="Monthly_Balance" required>
            </div>
            <div class="form-group">
                <label for="Credit-Builder Loan">Credit-Builder Loan</label>
                <select class="form-control" id="Credit-Builder Loan" name="Credit-Builder Loan" required>
                    <option value="False">False</option>
                    <option value="True">True</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Personal Loan">Personal Loan</label>
                <select class="form-control" id="Personal Loan" name="Personal Loan" required>
                    <option value="False">False</option>
                    <option value="True">True</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Debt Consolidation Loan">Debt Consolidation Loan</label>
                <select class="form-control" id="Debt Consolidation Loan" name="Debt Consolidation Loan" required>
                    <option value="False">False</option>
                    <option value="True">True</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Student Loan">Student Loan</label>
                <select class="form-control" id="Student Loan" name="Student Loan" required>
                    <option value="False">False</option>
                    <option value="True">True</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Payday Loan">Payday Loan</label>
                <select class="form-control" id="Payday Loan" name="Payday Loan" required>
                    <option value="False">False</option>
                    <option value="True">True</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Mortgage Loan">Mortgage Loan</label>
                <select class="form-control" id="Mortgage Loan" name="Mortgage Loan" required>
                    <option value="False">False</option>
                    <option value="True">True</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Auto Loan">Auto Loan</label>
                <select class="form-control" id="Auto Loan" name="Auto Loan" required>
                    <option value="False">False</option>
                    <option value="True">True</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Home Equity Loan">Home Equity Loan</label>
                <select class="form-control" id="Home Equity Loan" name="Home Equity Loan" required>
                    <option value="False">False</option>
                    <option value="True">True</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Payment_Behaviour_High_spent_Large_value_payments">Payment Behaviour: High spent, Large value payments</label>
                <select class="form-control" id="Payment_Behaviour_High_spent_Large_value_payments" name="Payment_Behaviour_High_spent_Large_value_payments" required>
                    <option value="False">False</option>
                    <option value="True">True</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Payment_Behaviour_High_spent_Medium_value_payments">Payment Behaviour: High spent, Medium value payments</label>
                <select class="form-control" id="Payment_Behaviour_High_spent_Medium_value_payments" name="Payment_Behaviour_High_spent_Medium_value_payments" required>
                    <option value="False">False</option>
                    <option value="True">True</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Payment_Behaviour_High_spent_Small_value_payments">Payment Behaviour: High spent, Small value payments</label>
                <select class="form-control" id="Payment_Behaviour_High_spent_Small_value_payments" name="Payment_Behaviour_High_spent_Small_value_payments" required>
                    <option value="False">False</option>
                    <option value="True">True</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Payment_Behaviour_High_spent_Low_value_payments">Payment Behaviour: High spent, Low value payments</label>
                <select class="form-control" id="Payment_Behaviour_High_spent_Low_value_payments" name="Payment_Behaviour_High_spent_Low_value_payments" required>
                    <option value="False">False</option>
                    <option value="True">True</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Payment_Behaviour_Low_spent_Large_value_payments">Payment Behaviour: Low spent, Large value payments</label>
                <select class="form-control" id="Payment_Behaviour_Low_spent_Large_value_payments" name="Payment_Behaviour_Low_spent_Large_value_payments" required>
                    <option value="False">False</option>
                    <option value="True">True</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Payment_Behaviour_Low_spent_Medium_value_payments">Payment Behaviour: Low spent, Medium value payments</label>
                <select class="form-control" id="Payment_Behaviour_Low_spent_Medium_value_payments" name="Payment_Behaviour_Low_spent_Medium_value_payments" required>
                    <option value="False">False</option>
                    <option value="True">True</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Payment_Behaviour_Low_spent_Small_value_payments">Payment Behaviour: Low spent, Small value payments</label>
                <select class="form-control" id="Payment_Behaviour_Low_spent_Small_value_payments" name="Payment_Behaviour_Low_spent_Small_value_payments" required>
                    <option value="False">False</option>
                    <option value="True">True</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Payment_Behaviour_Low_spent_Low_value_payments">Payment Behaviour: Low spent, Low value payments</label>
                <select class="form-control" id="Payment_Behaviour_Low_spent_Low_value_payments" name="Payment_Behaviour_Low_spent_Low_value_payments" required>
                    <option value="False">False</option>
                    <option value="True">True</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Predict</button>
        </form>
        <h1>RESULT OF THE PREDICTION</h1><br>
        <h2>The predicted Credit Score of the Person is:  </h2><br>
        {% if (pred_res)==0:  %}
        <h2>  Good  </h2>
        {% elif (pred_res)==1:  %}
        <h2>  Poor </h2>
        {% elif (pred_res)==2:  %}
        <h2>  Standard </h2>       
        {% endif %}
</body> 
</html> 
